header{
    background-color: var(--color-amarillo);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
}
header p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
nav ul{
    display: none;
}

.fa-bars{
    color: white;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu i{
    background-color: var(--color-azul);
    border-radius: 5px;
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
}
h2{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
}
main section img{
    width: 100%;
}
main article{
    margin: 10px;
}
main article div{
    display: inline-block;
    width: 90%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
main article div i{
    color: var(--color-verde);
    border-radius: 50%;
    border-color: var(--color-verde);
}
main article p{
    font-family: 'Roboto';
    font-size: 18px;
}
main article span{
    font-family: 'Roboto';
    font-size: 16px;
    color: var(--color-verde);
}
main article h4{
    display: none
}
footer article div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer article div i{
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px;
}
footer article{
    text-align: center;
    color: var(--color-grisoscuro);
    margin-top: 35px;
    margin-bottom: 35px;
}
footer p{ 
    color: var(--color-grisoscuro);
}


@media (min-width:361px){

    nav ul{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    main article div{
        box-shadow: 0px 0px 10px rgba(100,100,100);
    }
    main article h4{
        display: block;
    }

}
@media (min-width:769px){
    nav ul{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    main article div{
        box-shadow: 0px 0px 10px rgba(100,100,100);
    }
    main article h4{
        display: block;
    }
}